<!DOCTYPE html>
<html lang="FR">

<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<head>
  <meta charset="utf-8">
  <title>SyllaExchange</title>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="images/logo.icon">

  <header>
    <a href="/">
      <img class="logo" src="images/logo.png" alt="SyllaExchange-Logo">
    </a>

    <h1 class="title"><a href="/" id="title_link">SyllaExchange</a></h1>

  </header>

  <script>
    var cssFile = document.querySelector(':root');
    const dark = <%=mode %>
      let variables = {
        "--main-star": "orange",
        "--second-star": "yellow",
        "--dark": "#292929",
        "--light": "whitesmoke",
        "--dark-blue": "#005AA7",
        "--light-blue": "#caf1f4",
        "--body-color": "#00000000",
      }
    if (dark) {
      variables = {
        "--main-button": "#006363",
        "--second-button": "cadetblue",
        "--dark": "#ffffff",
        "--light": "#000000",
        "--dark-blue": "#caf1f4",
        "--light-blue": "#005AA7",
        "--body-color": "#1d252b",
      }
    }

    for (const [key, value] of Object.entries(variables)) {
      cssFile.style.setProperty(key, value);
    }
  </script>
</head>

<body> <!-- inspired from http://frontendfreecode.com/register-login-form-with-tabs-using-bootstrap -->

  <hr>

  <div class="inner box">
    <div class="panel panel-default">

      <div class="panel-body">

        <ul id="dTab" class="nav nav-tabs">
          <li class="active"><a href="#pane1" data-toggle="tab">Register</a></li>
          <li><a href="#pane2" data-toggle="tab">Login</a></li>
        </ul>

        <div class="tab-content">
          <div id="pane1" class="tab-pane fade in active">

            <form action="" method="post">
              <fieldset>
                <label class="control-label" for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" class="form-control" required />

                <label class="control-label" for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Email" class="form-control" required />

                <label class="control-label" for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control"
                  required />

                <label class="control-label" for="password_confirm">Password (Confirm)</label>
                <input type="password" id="password_confirm" name="password_confirm" placeholder="Confirm password"
                  class="form-control" required />

                <button class="btn-success" name="btn" value="register">Register</button>
              </fieldset>
            </form>
          </div>

          <div id="pane2" class="tab-pane fade">
            <form role="form" action="" method="post">
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" />

              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" />

              <button type="submit" class="btn-success" name="btn" value="login">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div>
    <h4 class="error">
      <strong>
        <%= error %>
      </strong>
    </h4>
  </div>

</body>

</html>