body {
  font-family: 'Titillium Web', sans-serif;
  background: url(/images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: 4fr 1fr 16fr 1fr 4fr;
  grid-template-rows: 1fr;
  backdrop-filter: blur(30px);
  background-color: rgba(182, 182, 182, 0.2);
  margin: unset;
}

.logo {
  min-width: 50px;
  width: 30%;
}

.title {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}

#title_link {
  text-decoration: none;
  color: black;
}

#basketLogo {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 50%;
  min-height: 5px;
  min-width: 5px;
  width: 90%;
  margin-top: 20px;

  font-size: xx-large;
}

#connexion {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 50%;
  min-height: 5px;
  min-width: 5px;
  width: 100%;
  margin-top: 20px;
  float: right;
}

.search {
  /* position: absolute; */

  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  float: left;


  background-color: rgb(255, 255, 255, 0.1s);

  height: 30px;

  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 30px;
  justify-content: center;
}

#input_search {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#button_search {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  background-color: rgb(74, 68, 68);
  text-shadow: 1px 1px 1px #000;
}

#button_search:hover {
  background-color: rgb(53, 49, 49);
}


#indexLayout {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 1fr 20fr;
}

#sellLink {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

/* REGISTER AND LOGIN */
.cover {
  width: 400px;
  margin: 0 auto;
}

.mastfoot {
  padding-top: 0px;
  text-align: center;
  margin: auto;
}


/* SELL STAR */
.checked {
  color: orange;
}

/* use reverse flexbox to take advantage of flex-direction: reverse */
.star-rating {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 40px auto;
  position: relative;
}

/* hide the inputs */
.star-rating input {
  display: none;
}

/* set properties of all labels */
.star-rating>label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;
}

/* give label a hover state */
.star-rating label:hover {
  color: #ff69b4;
  transition: 0.2s ease;
}

.star-rating label:active::before {
  transform: scale(1.1);
}

/* set shape of unselected label */
.star-rating label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
}

/* set full star shape for checked label and those that come after it */
.star-rating input:checked~label:before {
  content: '\2605';
}

@-moz-document url-prefix() {
  .star-rating input:checked~label:before {
    font-size: 36px;
    line-height: 21px;
  }
}


/* AFFICHAGE DES ARTICLES */
/* PARTIE COMMUNE */
.order {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  width: 70%;
  height: 30px;
  float: right;
  border-radius: 20px;
}

.Book_name {
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
}

.info {
  font-size: 10px;
}

.arrow {
  cursor: pointer;
}

/* AFFICHAGE VERTICAL */
.catalogueV {
  /* left: 25%; */
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;

  position: relative;
  height: 80vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.itemsV {
  width: 30vw;
  height: 15vh;
  background-color: #e4fdc4;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

}

.booksV {
  position: relative;
  right: 20%;
  border-radius: 3px;
  width: 16%;
  height: 95%;
  border: 2px solid black;
  border-radius: 4px;
  padding: 2px;
  background-color: white;
}

.acheterV {
  border-radius: 30px;
  width: 25%;
  height: 102%;
  cursor: pointer;
  border: black 1px solid;
  border-left: none;
}

/* AFFICHAGE HORIZONTAL */
.catalogueH {

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;

  top: 10vh;
  left: 10%;
  position: relative;
  height: 50vh;
  width: 80vw;
  backdrop-filter: blur(30px);
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.itemsH {
  width: 15vw;
  height: 45vh;
  background-color: #e4fdc4;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.booksH {
  width: 100px;
  height: 160px;
  border: 2px solid black;
  padding: 2px;
  background-color: white;
}

.acheterH {
  position: relative;
  top: 15px;
  border-radius: 30px;
  width: 100px;
  cursor: pointer;
}

/* BUY */
.Name {
  position: relative;
  left: 25%;
  text-decoration: underline;
}

.selling {
  border-radius: 5%;
  position: relative;
  left: 25%;
  display: flex;
  width: 50%;
  height: 35%;
  justify-content: space-between;
  background-image: linear-gradient(#fbc2eb, #a6c1ee)
}

.txt {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: #000 1px solid;
}

.resume {
  color: rgb(121, 37, 18);
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnachter {
  cursor: pointer;
  border-radius: 30px;
  border-top: none;
  color: #005AA7;
}

.imagedulivre {
  width: 50%;
  padding: 3px;
  margin: 1em;
  border: #000 1px solid;
  background-color: white;
}


/* SELL*/
.SellProduct {
  background-color: white;
  position: relative;
  left: 38%;
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 2px black solid;
}


/* PROFIL*/

.wrapper {
  margin-left: auto; 
  margin-right: auto;
}

.book-img {
  width: 20%;
  height: 50%;
  border-radius: 6px;
  margin-right: 12px;
  flex-shrink: 0;
  margin-left: 5px;
}

.case {
  outline: thin solid;
  border-radius: 20px;
  vertical-align: middle;
}

.book_name {
  margin-left: auto;
  margin-right: auto;
}

.btn-success {
  border: red 1px solid;
  border-radius: 30px;
  background-image: linear-gradient(yellow, orange);
  cursor: pointer;
  float: right;
  width: 80px;
  height: 30px;
}

.btn-logout {
  border: rgb(95, 4, 4) 1.5px solid;
  border-radius: 30px;
  background-image: linear-gradient(rgb(59, 59, 54), rgb(8, 8, 8));
  color: rgb(223, 215, 213);
  cursor: pointer;
  float: right;
  width: 80px;
  height: 30px;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid;
  border-radius: 30px;

  justify-content: space-around;
  position: relative;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#005AA7, #FFFDE4);
}

/* BASKET */

.line {
  float: left;
}

#basketPageLayout {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#summary {
  font-size: larger;
  height: 20vh;
  background-image: linear-gradient(#005AA7, #FFFDE4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;

  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

#basketItem {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* TESTING PURPOSE */