body {
  font-family: 'Titillium Web', sans-serif;
  background: url(/images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: 4fr 1fr 16fr 1fr 4fr;
  grid-template-rows: 1fr;
  backdrop-filter: blur(30px);
  background-color: rgba(182, 182, 182, 0.2);
  margin: unset;
}

.logo {
  min-width: 50px;
  width: 30%;
}

.title {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}

#title_link {
  text-decoration: none;
  color: black;
}

#basketLogo {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 50%;
  min-height: 45px;
  min-width: 5px;
  width: 90%;
  margin-top: 20px;

  font-size: xx-large;
}

#connexion {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 50%;
  min-height: 5px;
  min-width: 5px;
  width: 100%;
  margin-top: 20px;
  float: right;
}

#input_search {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#button_search {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  background-color: rgb(74, 68, 68);
  text-shadow: 1px 1px 1px #000;
}

#button_search:hover {
  background-color: rgb(53, 49, 49);
}

/* SELL STAR */
.checked {
  color: orange;
}

/* use reverse flexbox to take advantage of flex-direction: reverse */
.star-rating {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 40px auto;
  position: relative;
}

/* hide the inputs */
.star-rating input {
  display: none;
}

/* set properties of all labels */
.star-rating>label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;
}

/* give label a hover state */
.star-rating label:hover {
  color: #ff69b4;
  transition: 0.2s ease;
}

.star-rating label:active::before {
  transform: scale(1.1);
}

/* set shape of unselected label */
.star-rating label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
}

/* set full star shape for checked label and those that come after it */
.star-rating input:checked~label:before {
  content: '\2605';
}

@-moz-document url-prefix() {
  .star-rating input:checked~label:before {
    font-size: 36px;
    line-height: 21px;
  }
}

/* SELL*/
.SellProduct {
  background-color: white;
  position: relative;
  left: 38%;
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 2px black solid;
}

.sell-description {
  height:200px;
  resize: vertical;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}


/* PROFIL*/

.wrapper {
  margin-left: auto; 
  margin-right: auto;
}

.book-img {
  width: 20%;
  height: 50%;
  border-radius: 6px;
  margin-right: 12px;
  flex-shrink: 0;
  margin-left: 5px;
}

.case {
  outline: thin solid;
  border-radius: 20px;
  vertical-align: middle;
}

.book_name {
  margin-left: auto;
  margin-right: 200px;
}

.btn-success {
  border: red 1px solid;
  border-radius: 30px;
  background-image: linear-gradient(yellow, orange);
  cursor: pointer;
  float: right;
  width: 80px;
  height: 30px;
}

.btn-logout {
  border: rgb(95, 4, 4) 1.5px solid;
  border-radius: 30px;
  background-image: linear-gradient(rgb(59, 59, 54), rgb(8, 8, 8));
  color: rgb(223, 215, 213);
  cursor: pointer;
  float: right;
  width: 80px;
  height: 30px;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid;
  border-radius: 30px;

  justify-content: space-around;
  position: relative;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#005AA7, #FFFDE4);
}

/* REGISTER AND LOGIN */
.box {
  width: 400px;
  margin: 0 auto;
}

.error {
  text-align: center;
}

/* BUY */

.card {
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
  background-image: linear-gradient(#fbc2eb, #a6c1ee);
  padding: 20px;
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  border-radius: 20px;
}

.article-image {
  box-sizing: border-box;
  float: left;
  width: 30%;
  height: 100%;
}

.article-infos {
  margin-top: auto;
  overflow: hidden;
  box-sizing: border-box;
  width: 65%;
  float: right;
  padding: 10px;    
  height: 100%;
  display: inline;  
}

.book-image {
  margin: auto;
  height: 80%; 
  width: 100%; 
  object-fit: contain;
  border: #000 3px solid;
  border-radius: 5px;
  background-color: white;
}

.article-infos .book-title {
  margin: auto;
  box-sizing: border-box;
  height: 100%;
  width: 65%;
}

.article-infos .article-info {
  margin: auto;
  margin-top: 15%;
  box-sizing: border-box;
  height: 100%;
  width: 65%;
  align-items: center;
  justify-content: center;
}

.article-infos .article-price {
  margin: auto;
  margin-top: 20%;
  box-sizing: border-box;
  height: 100%;
  width: 65%;
}

.book-price, .book-state {
  margin: auto;
  float: left;
}

.book-stars {
  margin: auto;
  float: right;
}

.buy-button {
  border: black 2px solid;
  border-radius: 30px;
  background-image: linear-gradient(yellow, orange);
  cursor: pointer;
  float: right;
  margin: auto;
}

/* BASKET */

.line {
  float: left;
}

#basketPageLayout {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#summary {
  font-size: larger;
  height: 20vh;
  background-image: linear-gradient(#005AA7, #FFFDE4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;

  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

#basketItem {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.basket-container {
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
  background-image: linear-gradient(#fbc2eb, #a6c1ee);
  padding: 20px;
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  border-radius: 20px;
}

.articles {
  box-sizing: border-box;
  float: left;
  width: 70%;
  height: 100%;
}

.summary {
  margin-top: auto;
  overflow: hidden;
  box-sizing: border-box;
  width: 30%;
  float: right;
  padding: 10px;    
  height: 100%;
  display: inline;  
}

/* INDEX */
/* Vertical view */
.articles-container {
  margin-right: 15%;
  margin-left: 15%;
  table-layout: fixed;
  border: 1px solid;
  border-radius: 30px;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#005AA7, #caf1f4);
}

.art-image {
  margin-left: 25px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
  position: relative;
  padding: 5px;
}

.image-cell {
  width: calc(100%/4);
}

.title-cell {
  width: calc(1.5* 100%/3);
}

.art-elem {
  width: calc(25%/2);
}

.art-title {
  margin: auto;
  box-sizing: border-box;
  height: 100%;
  width: 65%;
  padding: 20px;
}

.art-price {
  height: 100%;
  width: 65%;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
}

.art-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.art-buy {
  margin: auto;
  width: 40%;
  height: 80px;
  cursor: pointer;
  border: black 1px solid;
  border-radius: 20px;
}

.image-container {
  width: 35%;
  height: auto;
}

.main {
  margin-left: 3%;
  margin-right: 3%;
}

.sell-link {
  float: left;
}

.search, .order{
  float: right;
  background-color: rgb(255, 255, 255, 0.1s);
  height: 30px;
  border-radius: 30px;
  justify-content: center;
  position: relative;
}

/* Horizontal view */

.vertical-wrapper {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 5%;
}

.vertical-articles-container {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  background-image: linear-gradient(#005AA7, #caf1f4);
  overflow: auto;
  white-space: nowrap;
  border-radius: 30px;
}

.book {
  width: auto; 
  padding: 20px; 
  border: 1px solid #c9c9c9;
}

.book img {
  width: 130px;
  height: 200px;
  border: 2px solid black;
  padding: 2px;
  background-color: white;
}

.book button{
  position: relative;
  top: 15px;
  border-radius: 30px;
  width: 100px;
  cursor: pointer;
  margin-left: 10%;
}

.vertical-book-price {
  margin: auto;
  text-align: center;
}
